* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  .header {
    background-color: #f2f2f2;
  }
}

@media screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 5% 80% 15%;
    grid-template-rows: 10vh 90vh 10vh;
    grid-template-areas:
      "sidebar header header"
      "sidebar content ads"
      "sidebar footer footer";
    grid-auto-rows: 100px;
    align-content: stretch;
    min-height: 100%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10vh 90vh 10vh;
  grid-template-areas:
    "sidebar header header"
    "sidebar content ads"
    "sidebar footer footer";
  grid-auto-rows: 100px;
  align-content: stretch;
  min-height: 100%;
}

.header {
  grid-area: header;
  background-color: #477eff;
}

.sidebar {
  grid-area: sidebar;
  background-color: #ff4747;
}

.content {
  grid-area: content;
  background-color: #ffffff;
}

.ads {
  grid-area: ads;
  background-color: #ffe74d;
}

.footer {
  grid-area: footer;
  background-color: #4dff82;
}